#terminal-container .terminal {
    background-color: #ffffff;
    color: #000000;
}

.terminal .xterm-viewport {
    background-color: #ffffff;
}

.terminal .xterm-color-0 {
    color: #ffffff;
}

.terminal .xterm-bg-color-0 {
    background-color: #000000;
}

.terminal .xterm-color-1 {
    color: #800000;
}

.terminal .xterm-bg-color-1 {
    background-color: #800000;
}

.terminal .xterm-color-2 {
    color: #00aa00;
}

.terminal .xterm-bg-color-2 {
    background-color: #00aa00;
}

.terminal .xterm-color-3 {
    color: #ffff99;
}

.terminal .xterm-bg-color-3 {
    background-color: #ffff99;
}

.terminal .xterm-color-4 {
    color: #0000ff;
}

.terminal .xterm-bg-color-4 {
    background-color: #0000ff;
}

.terminal .xterm-color-5 {
    color: #900090;
}

.terminal .xterm-bg-color-5 {
    background-color: #900090;
}

.terminal .xterm-color-6 {
    color: #007f7f;
}

.terminal .xterm-bg-color-6 {
    background-color: #007f7f;
}

.terminal .xterm-color-7 {
    color: #efefef;
}

.terminal .xterm-bg-color-7 {
    background-color: #000000;
}

.terminal .xterm-color-8 {
    color: #c0c0c0;
}

.terminal .xterm-bg-color-8 {
    background-color: #c0c0c0;
}

.terminal .xterm-color-9 {
    color: #c10000;
}

.terminal .xterm-bg-color-9 {
    background-color: #c10000;
}

.terminal .xterm-color-10 {
    color: #00cc00;
}

.terminal .xterm-bg-color-10 {
    background-color: #00cc00;
}

.terminal .xterm-color-11 {
    color: #fff569;
}

.terminal .xterm-bg-color-11 {
    background-color: #fff569;
}

.terminal .xterm-color-12 {
    color: #015aff;
}

.terminal .xterm-bg-color-12 {
    background-color: #015aff;
}

.terminal .xterm-color-13 {
    color: #bf00bf;
}

.terminal .xterm-bg-color-13 {
    background-color: #bf00bf;
}

.terminal .xterm-color-14 {
    color: #00a5a5;
}

.terminal .xterm-bg-color-14 {
    background-color: #00a5a5;
}

.terminal .xterm-color-15 {
    color: #ffffff;
}

.terminal .xterm-bg-color-15 {
    background-color: #000000;
}

.terminal:not(.focus) .terminal-cursor {
    outline: 1px solid #c0c0c0;
}

.terminal.xterm-cursor-style-block.focus:not(.xterm-cursor-blink-on) .terminal-cursor {
    background-color: #c0c0c0;
}

.terminal.focus.xterm-cursor-style-bar:not(.xterm-cursor-blink-on) .terminal-cursor::before,
.terminal.focus.xterm-cursor-style-underline:not(.xterm-cursor-blink-on) .terminal-cursor::before {
    background-color: #c0c0c0;
}

.terminal .xterm-selection div {
    position: absolute;
    background-color: #c0c0c0;
}