# https://dev.azure.com/spyder-ide/spyder-terminal/

jobs:

################################################################################
# macOS
################################################################################
- job: 'macOS'

  pool:
    vmImage: 'macOS-10.15'

  timeoutInMinutes: 100

  variables:
    USE_CONDA: "yes"
    CI: True
    AZURE: True

  # Run the pipeline with multiple Python versions
  strategy:
    matrix:
      Python37:
        python.version: '3.7'
      Python38:
        python.version: '3.8'
      Python39:
        python.version: '3.9'
      Python310:
        python.version: '3.10'
    maxParallel: 4

  steps:
    # Set the UsePythonVersion task to reference the matrix variable for its Python version
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'

  - script: sudo chown -R 501:20 /Users/runner/.conda
    displayName: Fix .conda permissions

  - script: sudo install -d -m 0777 /usr/local/envs/
    displayName: Fix conda env permissions

  - script: sudo chown -R 501:20 /usr/local/miniconda/
    displayName: Fix miniconda permissions

    # Conda setup environment.
    # https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/conda-environment?view=vsts
  - task: CondaEnvironment@0
    inputs:
      environmentName: 'test'
      packageSpecs: 'python=$(python.version)'

    # Install dependencies
  - script: |
      ./continuous_integration/azure/install.sh
    displayName: 'Install dependencies'
    continueOnError: false

    # Show Conda Build Env
  - script: |
      conda list
    displayName: 'Show build environment'
    continueOnError: true

    # Run Tests
  - script: |
      ./continuous_integration/azure/runtests.sh || ./continuous_integration/azure/runtests.sh || ./continuous_integration/azure/runtests.sh || ./continuous_integration/azure/runtests.sh
    displayName: 'Run tests'
    continueOnError: false

    # Publish test results to the Azure DevOps server
  - task: PublishTestResults@2
    inputs:
      testResultsFiles: 'result.xml'
      testRunTitle: 'macOS - Python $(python.version)'
      condition: succeededOrFailed()

################################################################################
# Windows
################################################################################
- job: 'Windows'

  pool:
    vmImage: 'windows-latest'

  timeoutInMinutes: 100

  variables:
    CI: True
    AZURE: True
    PYTHON: "C:\\Miniconda"
    PYWINPTY_BLOCK: 0
    CODECOV_TOKEN: "273c981b-7851-4895-a4bb-07377c67791e"

  # Run the pipeline with multiple Python versions
  strategy:
    matrix:
      Python37:
        python.version: '3.7'
        use.conda: "yes"
      Python38:
        python.version: '3.8'
        use.conda: "yes"
      Python39:
        python.version: '3.9'
        use.conda: "yes"
      Python310:
        python.version: '3.10'
        use.conda: "yes"
    maxParallel: 4

  steps:
    # Set the UsePythonVersion task to reference the matrix variable for its Python version
  - powershell: Write-Host "##vso[task.prependpath]$env:CONDA\Scripts"
    displayName: Add conda to PATH

    # Install nodejs version 13.x
  - task: NodeTool@0
    inputs:
      versionSpec: '13.x'

    # Conda setup environment.
    # https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/package/conda-environment?view=vsts
  - script: conda update -q -n base conda
    displayName: 'Update conda'

  - script: conda create --yes --quiet --name test python=%PYTHON_VERSION%
    displayName: Create conda environment

    # Install dependencies
  - script: |
      call activate test
      continuous_integration\azure\install.bat
    displayName: 'Install dependencies'
    continueOnError: false
    # Show Conda Build Env
  - script: |
      call activate test
      conda list
    displayName: 'Show build environment'
    continueOnError: true
    # Setup Build
  - script: |
      call activate test
      python setup.py build_static
    displayName: 'Setup build'
    continueOnError: false
    # Run tests
  - script: |
      call activate test
      python runtests.py
    displayName: 'Run tests'
    continueOnError: false
  - script: |
      call activate test
      pip install -q -y codecov
      codecov
    displayName: 'Run code coverage'
    continueOnError: true
    # Publish test results to the Azure DevOps server
  - task: PublishTestResults@2
    inputs:
      testResultsFiles: 'result.xml'
      testRunTitle: 'Windows - Python $(python.version)'
      condition: succeededOrFailed()